.head{
    width: 100%;
    height: 130px;
    margin-bottom: 0px;
}
.border{
    background-color: teal;
    height: 10px;
}
.title{
    width: 15%;
    float: left;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5px;
}
.title1{
    width: 15%;
    float: left;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5px;
    margin-left: 5px;
}
.input{
    margin-left: 100px;
    width: 150px;
    height: 40px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn{
    border: none;
    background-color: yellow;
    margin-left: 450px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
}

#output{
    font-size: 30px;
    text-align: center;
}
.sections{
    float:left;
    width: 100%;
    margin-top: 10px;
    background-image: url("bc.jpg");
    text-align: center;
}
#sec1{
    background-color: #ff2052;
}
#inputId{
    margin-bottom: 5px;
    margin:10px;
}
#inputIdSec{
    margin-bottom: 5px;
    margin:10px;
    margin-left:50px;
}
#days1,#days2,#days3{
    width: 120px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 5px;
    margin:10px;
    margin-left:60px;
    padding-left: 10px;
}
#time1,#time2,#time3{
    width: 160px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 5px;
    margin:10px;
    margin-left:10px;
    padding-left: 10px;
    background-color: greenyellow;

}